---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = 'Cosa vedere in Transilvania?'
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Cosa vedere in Transilvania?</h2>
</BaseLayout>